{% extends "students/base.html" %}

{% block body %}
<h3 class="text-center m-4">اضافه کردن دانش آموز</h3>
{% if success %}
<div class="alert alert-success" role="alert">
    دانش آموز جدید اضافه شد
    <a href="{% url 'index' %}" class="alert-link">رفتن به صفحه اصلی</a>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-light mb-3">
            <div class="card-header">
                <i class="fa-solid fa-address-card fa-lg"></i> ثبت نام دانش آموز
            </div>
            <div class="card-body">
                <form action="{% url 'add' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">اضافه</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">لغو</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}